.header-container {
  background-color: #eaded7;
  width: 100%;
  min-height: 20vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #453227;
}
.header-link {
  font-size: 1.75rem;
}
.section-2 {
  background-color: #f1f5f8;
}
