html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
  color: #000000;
}
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
p {
  line-height: 2;
  max-width: 45em;
  margin-bottom: 2rem;
  color: #617d98;
  font-size: 1rem;
}
a {
  text-decoration: none !important;
  color: black !important;
}
button {
  border: none;
  background-color: transparent;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.my-btn {
  text-transform: uppercase;
  background-color: #ab7a5f;
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 400;
  transition: all 0.3s linear;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 0.25rem;
  border-color: transparent;
  color: white !important;
}
.my-btn:hover {
  color: #453227 !important;
  background-color: #c5a491;
  transition: 0.5s;
}
.header p {
  font-size: 1.25rem;
}
.offcanvas {
  width: 50% !important;
}
